$primaryColor: #1a365d;
$secondaryColor: #2d3748;
$font: Arial, sans-serif;
$font2: Tahoma, sans-serif;
$size: 18px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    padding-top: 170px;
}